@import 'bulma';
@import '../../../node_modules/bulma-extensions/bulma-switch/src/sass/index.sass';
@import '../../../node_modules/bulma-dashboard/src/bulma-dashboard.sass';
@import '../../../node_modules/bulma-extensions/bulma-timeline/src/sass/index.sass';

h1,h2,h3,h4{
  margin-bottom:10px;
}
svg{
  vertical-align: middle;
}
//App Container
.app-container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  transition: background-color 0.15s;
  //Wrapper
  .wrapper{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(360deg, rgba(74, 18, 18, 0.3), rgba(35, 47, 28, 0) 100%);
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
    .particles{
      width:100%;
      height:100%;
    }
    .center-section{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height:100%;
      width:100%;
      padding: 5%;
      z-index:1;
      position:absolute;
      .social-icons{
        display:flex;
        justify-content: space-evenly;
        a{
          margin:5%;
        }
      }
      h3{
        margin-bottom:2%;
        max-width:800px;
        @media (max-width: 768px){
          margin-bottom:2%;
          max-width:600px;
          font-size: 1rem !important;
        }
      }
      h1{
        margin-top: 1%;
        background: linear-gradient(to right, rgba(74, 18, 18, 0.35), rgba(35, 47, 28, 0.35) 150%);
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
        opacity: .95;
        color: white;
        @media (max-width: 768px){
          font-size: 1.5rem !important;
        }
      }
      h2{
        @media (max-width: 768px){
          font-size: 1.5rem !important;
        }
      }
      img{
        padding-bottom:25px;
        padding-top: 56px;
        width:300px;
        transition: img 5s;
        @media (max-width: 1024px){
          width:200px;
        }
      }
    }
  }
  //Wrapper for About Page
  .wrapper.about{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top:56px;
    width:100%;
    .box{
      width:70%;
      height:100%;
      padding:0;
      background:none;
      box-shadow: none;
      margin:0;
      display:flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: left;
      .about{
        width:45%;
        margin: -5% 5% 5% 5%;
        .select{
          margin-top:5%;
          width:100%;
          select{
            width:100%;
          }
        }
        .skills{
          margin-top:2.5%;
          .skills-container{
            display:flex;
            flex-wrap:wrap;
            justify-content: flex-start;
            .tags{
              margin-right:5px;
            }
          }
        }
        @media (max-width:1024px){
          width:100%;
        }
      }
      .timeline{
        transform: scale(.75);
        width:45%;
        margin:7.5% 7.5% 7.5% 0%;
        .timeline-marker{
          img{
            animation:none;
          }
        }
      @media (max-width: 1024px){
        margin-top: -25%;
      }
      }
      h1{
        width:100%;
      }
      @media (max-width: 1024px){
        align-items: flex-start;
        margin-top:-7.5%;
      }
    }
    .box.w-30{
      width:30%;
      @media (max-width:768px){
        margin-top:20%;
      }
    }
    @media (max-width: 1024px){
      flex-direction: column;
      margin-top:20%;
    }
  }
  // Wrapper for Projects Page
  .wrapper.projects{
    height:100%;
    min-height:100vh;
    display:flex;
    flex-wrap:wrap;
    margin-top:56px;
    animation: none;
    background: none;
    .search{
      width:100%;
      display:flex;
      justify-content: center;
      padding: 1%;
      .control{
        width:50%;
        display:flex;
        .icon{
          svg{
            width:55%;
            padding:5%;
          }
        }
        button{
          margin-left:-50px;
        }
      }
    }
    .column{
      .card{
        width:100%;
        .card-image{
          display:flex;
          img{
            width:100%;
          }
        }
        .card-content{
          height: 100%;
          align-items: center;
          top: 0;
          display: flex;
          position: absolute;
          opacity: 0;
          font-weight:600;
          .tag{
            margin:1%;
            font-weight:600;
          }
          @media (max-width: 768px){
            height: 100%;
            align-items: center;
            display: flex;
            position: relative;
          }
        }
        //Card Hover
        &:hover{
          .card-content{
            .tag{
              cursor:pointer;
            }
            z-index:1;
            opacity:100;
          }
          .card-image{
            img{
              opacity:100;
              z-index: 1;
            }
          }
          @media (max-width: 768px){
            .card-content{
              opacity:100;
            }
          }
        }//End Hover
      }//End Card
    }
    //wrapper.projects media queries
    @media (max-width:1024px){
      .column{
        margin: 1%;
        width:48%;
      }
    }
    @media (max-width:768px){
      flex-direction:column;
      .column{
        margin: 1%;
        width:100%;
        .card{
          .card-content{
            opacity:100;
          }
        }
         //don't hide anything in mobile
         &:hover{
          .card{
            .card-image{
              img{
                z-index:1;
              }
            }
          }
        }
      }
    }
  }
  // Tutorials Dashboard
  .dashboard{
    overflow:hidden;
    .dashboard-panel{
      margin-top:56px;
    }
    .section{
      padding:5%;
    }
    .footer{
      padding:0;
    }
  }
  
}//end container


//Navigation
nav{
  transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  width:100%;
  position: fixed !important;
  box-shadow: 0px -12px 20px 7px #0000008a;
  .navbar-start{
    .navbar-item{
      //safari compatability --snaps back to size after hover
      width: -webkit-max-content;
      a{
        span{
          padding-right:5px;
        }
      }
    }
    a{
      font-weight:555;
      span{
        padding-left:5px;
        position:absolute;
        opacity:0;
        visibility: hidden;
        transition: opacity .0s, visibility .0s;
        -webkit-transition: opacity .0s, visibility .0s;
      }
      &:hover{
        span{
          position:relative;
          opacity: .95;
          visibility: visible;
        }
      }
    }
  }
  .buttons{
    align-items: baseline;
    .switch-wrapper{
      .switch{
        &[type="checkbox"] + label{
          padding-top: 0 !important;
          &:focus + label::before{
            outline: 0;
          }
        }
        &[type="checkbox"]:focus + label::before, &[type="checkbox"]:focus + label::after {
          outline: none !important;
        }
        b{
          vertical-align: middle;
        }
      }
      label{
        padding-right:25px;
      }
    }
  }
}

//Loader
.loaderWrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100%;
  width:100%;
  position:fixed;
  z-index:100;
  background:white;
  opacity:100;
  visibility: visible;
  img{
      width:250px;
  }

}
//Utils
.hidden{
  opacity: 0;
  visibility:hidden !important; 
}
.dark-mode{
  background:#333;
}
.light *{
  color: #333;
}

.dark *{
  color: whitesmoke;

}

//Animations
@media (prefers-reduced-motion: no-preference) {

  //Wrapper Hue Rotation
  .wrapper {
    animation-name: hue-filter;
    -webkit-animation-name: hue-filter;
    animation-duration: 60s;
    -webkit-animation-duration: 60s;
    animation-timing-function: linear ;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  .wrapper.about{
    -webkit-transform: scale(.90);
    transform: scale(.90);
  }

  //Rotating Box CSS/Animations
  .cube-box{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    //Box Rotation Axis
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear;

    //Box Rotation Animation
    -webkit-animation-name: box-rotation;
    animation-name: box-rotation;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear ;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .cube-wrapper{
    width:45%;
    @media (max-width:1024px){
      width:100%;
    }
  }
  .cube-wrap {
    width: 200px;
    height: 200px;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    -webkit-perspective-origin: 50% -500px;
    perspective-origin: 50% -500px;
  }
  .single-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #60c2ef9c;
    -webkit-transform: rotateY(90deg) translateZ(-200px) rotateX(15deg);
    transform: rotateY(90deg) translateZ(-200px) rotateX(15deg);
    -webkit-transform-origin: 50% 50% 0;      
    transform-origin: 50% 50% 0;      
    img{
      text-align: center;
      width: 150px;
    }      
  }
  .side-front { 
    -webkit-transform: translateZ(180px);
    transform: translateZ(180px);
  }
  .side-back { 
    -webkit-transform: rotateY(180deg) translateZ(180px);
    transform: rotateY(180deg) translateZ(180px);
  }
  .side-top {
    -webkit-transform: rotateX(90deg) translateZ(180px);
    transform: rotateX(90deg) translateZ(180px);
  }
  .side-bottom { 
    -webkit-transform: rotateX(-90deg) translateZ(180px); 
    transform: rotateX(-90deg) translateZ(180px); 
  }
  .side-left { 
    -webkit-transform: rotateY(-90deg) translateZ(180px); 
    transform: rotateY(-90deg) translateZ(180px); 
  }
  .side-right { 
    -webkit-transform: rotateY(90deg) translateZ(180px); 
    transform: rotateY(90deg) translateZ(180px); 
  }
  //End of Cube Animations
}

@keyframes hue-filter {
  from {
    -webkit-filter: hue-rotate(-360deg)  ;
    filter: hue-rotate(-360deg)  
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes box-rotation{
  from{
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
  }
  to{
    -webkit-transform: rotate3d(1, 1, 0, 360deg);
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
