@import "bulma";
@import "../../../node_modules/bulma-extensions/bulma-switch/src/sass/index.sass";
@import "../../../node_modules/bulma-dashboard/src/bulma-dashboard.sass";
@import "../../../node_modules/bulma-extensions/bulma-timeline/src/sass/index.sass";

h1,
h2,
h3,
h4 {
  margin-bottom: 10px;
}

svg {
  vertical-align: middle;
}

//progress bar

.progressBar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  .progress {
    transform: rotate(90deg);
    width: 300px !important;
    margin-right: -125px;
    margin-top: 25%;
  }
}

//parallax
.section-parallax {
  padding: 0;
  background-image: url(../../assetts/images/parallax-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    .box {
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      .cube-wrapper {
        width: 100%;
      }
      .cube-wrap {
        margin-right: 200px;
        .cube-box {
          img {
            margin: 0;
          }
        }
      }
      img {
        margin-bottom: -20%;
        width: 50%;
      }
    }
  }
}

//App Container
.app-container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  transition: background-color 0.15s;

  //Wrapper
  .wrapper {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
      360deg,
      rgba(74, 18, 18, 0.3),
      rgba(35, 47, 28, 0) 100%
    );
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);

    .particles {
      width: 100%;
      height: 100%;
    }

    .center-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding: 5%;
      z-index: 1;
      position: absolute;
      background: url(../../assetts/images/background-xl.png);
      background-attachment: scroll;
      background-size: cover;

      .social-icons {
        display: flex;
        justify-content: space-evenly;

        a {
          margin: 5%;
        }
      }

      h3 {
        margin-bottom: 2%;
        max-width: 800px;

        @media (max-width: 768px) {
          margin-bottom: 2%;
          max-width: 600px;
          font-size: 1rem !important;
        }
      }

      h2 {
        margin-top: 1%;
        background: linear-gradient(
          to right,
          rgba(74, 18, 18, 0.35),
          rgba(35, 47, 28, 0.35) 150%
        );
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
        opacity: 0.95;
        color: white;
        width: 60%;
        span {
          color: white;
          margin-left: 10px;
        }
        @media (max-width: 768px) {
          font-size: 1.5rem !important;
        }
      }
      img {
        padding-bottom: 25px;
        padding-top: 56px;
        width: 300px;
        transition: img 5s;

        @media (max-width: 1024px) {
          width: 200px;
        }
      }
    }
  }
  //Skills & Select
  .select {
    width: 100%;

    select {
      width: 100%;
    }
  }
  .skills {
    margin-top: 2.5%;

    .skills-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .tags {
        margin-right: 5px;
      }
    }
  }
  //Wrapper for About Page
  .wrapper.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 56px;
    width: 100%;

    .box {
      width: 70%;
      height: 100%;
      padding: 0;
      background: none;
      box-shadow: none;
      margin: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: left;

      .about {
        width: 45%;
        margin: -5% 5% 5% 5%;

        .select {
          margin-top: 5%;
          width: 100%;

          select {
            width: 100%;
          }
        }

        @media (max-width: 1024px) {
          width: 100%;
        }
      }

      .timeline {
        transform: scale(0.75);
        width: 45%;
        margin: 7.5% 7.5% 7.5% 0%;

        .timeline-marker {
          img {
            animation: none;
          }
        }

        @media (max-width: 1024px) {
          margin-top: -25%;
        }
      }

      h1 {
        width: 100%;
      }

      @media (max-width: 1024px) {
        align-items: flex-start;
        margin-top: -7.5%;
      }
    }

    .box.w-30 {
      width: 30%;

      @media (max-width: 768px) {
        margin-top: 20%;
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      margin-top: 20%;
    }
  }

  // Wrapper for Projects Page
  .wrapper.projects {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    animation: none;
    background: none;

    .search {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1%;

      .control {
        width: 50%;
        display: flex;

        .icon {
          .icon-container {
            display: flex;
            justify-content: center;
            svg {
              width: 55%;
              padding: 5%;
            }
          }
        }

        button {
          margin-left: -50px;
        }
      }
    }

    .column {
      .card {
        width: 100%;

        .card-image {
          display: flex;

          img {
            width: 100%;
          }
        }

        .card-content {
          height: 100%;
          align-items: center;
          top: 0;
          display: flex;
          position: absolute;
          opacity: 0;
          font-weight: 600;

          .tag {
            margin: 1%;
            font-weight: 600;
          }

          @media (max-width: 768px) {
            height: 100%;
            align-items: center;
            display: flex;
            position: relative;
          }
        }

        //Card Hover
        &:hover {
          .card-content {
            .tag {
              cursor: pointer;
            }

            z-index: 1;
            opacity: 100;
          }

          .card-image {
            img {
              opacity: 100;
              z-index: 1;
            }
          }

          @media (max-width: 768px) {
            .card-content {
              opacity: 100;
            }
          }
        }

        //End Hover
      }

      //End Card
    }

    //wrapper.projects media queries
    @media (max-width: 1024px) {
      .column {
        margin: 1%;
        width: 48%;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .column {
        margin: 1%;
        width: 100%;

        .card {
          .card-content {
            opacity: 100;
          }
        }

        //don't hide anything in mobile
        &:hover {
          .card {
            .card-image {
              img {
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }

  // Tutorials Dashboard
  .dashboard {
    overflow: hidden;

    .dashboard-panel {
      margin-top: 56px;
    }

    .section {
      padding: 5%;
    }

    .footer {
      padding: 0;
    }
  }
}

//end container

//Navigation
nav {
  transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  width: 100%;
  position: fixed !important;
  box-shadow: 0px -12px 20px 7px #0000008a;

  .navbar-start {
    .navbar-item {
      //safari compatability --snaps back to size after hover
      width: -webkit-max-content;

      a {
        span {
          padding-right: 5px;
        }
      }
    }

    a {
      font-weight: 555;

      span {
        padding-left: 5px;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0s, visibility 0s;
        -webkit-transition: opacity 0s, visibility 0s;
      }

      &:hover {
        span {
          position: relative;
          opacity: 0.95;
          visibility: visible;
        }
      }
    }
  }

  .buttons {
    align-items: baseline;

    .switch-wrapper {
      .switch {
        &[type="checkbox"] + label {
          padding-top: 0 !important;

          &:focus + label::before {
            outline: 0;
          }
        }

        &[type="checkbox"]:focus + label::before,
        &[type="checkbox"]:focus + label::after {
          outline: none !important;
        }

        b {
          vertical-align: middle;
        }
      }

      label {
        padding-right: 25px;
      }
    }
  }
}

//Loader
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: white;
  opacity: 100;
  visibility: visible;

  img {
    width: 250px;
  }
}

//Utils
.hidden {
  opacity: 0;
  visibility: hidden !important;
}

.dark-mode {
  background: #333;
}

.light * {
  color: #333;
}

.dark * {
  color: whitesmoke;
}

//Animations CSS
@media (prefers-reduced-motion: no-preference) {
  //Wrapper Hue Rotation
  .wrapper {
    animation-name: hue-filter;
    -webkit-animation-name: hue-filter;
    animation-duration: 60s;
    -webkit-animation-duration: 60s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }

  //Rotating Box CSS/Animations
  .cube-box {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    //Box Rotation Animation
    animation-name: box-rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: box-rotation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -o-animation-name: box-rotation;
    -o-animation-duration: 20s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    -moz-animation-name: box-rotation;
    -moz-animation-duration: 20s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: box-rotation;
    -ms-animation-duration: 20s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
  }

  .cube-wrapper {
    width: 45%;
    padding-bottom: 25%;

    @media (max-width: 1024px) {
      width: 100%;
      margin-right:100px;
    }
  }

  .cube-wrap {
    width: 1px;
    height: 100px;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    -webkit-perspective-origin: 50% -500px;
    perspective-origin: 50% -500px;
    margin-right:200px;
  }

  .single-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #1b4a5d80;
    -webkit-transform: rotateY(90deg) translateZ(-200px) rotateX(15deg);
    transform: rotateY(90deg) translateZ(-200px) rotateX(15deg);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    //cube shadow for each child
    &:nth-child(1n + 0) {
      box-shadow: inset 0px 0px 20px 6px #33333354;
      border: solid 1px #0077f3;
    }
    //img on cube face size
    img {
      text-align: center;
      width: 100px;
    }
  }
  //Cube Faces/Children
  .side-front {
    -webkit-transform: translateZ(125px);
    transform: translateZ(125px);
    &:hover {
      -webkit-transform: translateZ(150px);
      transform: translateZ(150px);
    }
  }

  .side-back {
    -webkit-transform: rotateY(180deg) translateZ(125px);
    transform: rotateY(180deg) translateZ(125px);
    &:hover {
      -webkit-transform: rotateY(180deg) translateZ(150px);
      transform: rotateY(180deg) translateZ(150px);
      cursor: pointer;
    }
  }

  .side-top {
    -webkit-transform: rotateX(90deg) translateZ(125px);
    transform: rotateX(90deg) translateZ(125px);
    &:hover {
      -webkit-transform: rotateX(90deg) translateZ(150px);
      transform: rotateX(90deg) translateZ(150px);
      cursor: pointer;
    }
  }

  .side-bottom {
    -webkit-transform: rotateX(-90deg) translateZ(125px);
    transform: rotateX(-90deg) translateZ(125px);
    &:hover {
      -webkit-transform: rotateX(-90deg) translateZ(150px);
      transform: rotateX(-90deg) translateZ(150px);
      cursor: pointer;
    }
  }

  .side-left {
    -webkit-transform: rotateY(-90deg) translateZ(125px);
    transform: rotateY(-90deg) translateZ(125px);
    &:hover {
      -webkit-transform: rotateY(-90deg) translateZ(150px);
      transform: rotateY(-90deg) translateZ(150px);
      cursor: pointer;
    }
  }

  .side-right {
    -webkit-transform: rotateY(90deg) translateZ(125px);
    transform: rotateY(90deg) translateZ(125px);
    &:hover {
      -webkit-transform: rotateY(90deg) translateZ(150px);
      transform: rotateY(90deg) translateZ(150px);
      cursor: pointer;
    }
  }

  //End of Cube Animations
}

@keyframes hue-filter {
  from {
    filter: hue-rotate(-360deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes hue-filter {
  from {
    -webkit-filter: hue-rotate(-360deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes box-rotation {
  from {
    transform: rotate3d(1, 1, 0, 0deg);
  }

  to {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}

@-webkit-keyframes box-rotation {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 360deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
  }
}
