@import "./mixins";
//Footer
.footer {
  @include flex(flex, center);
  width: 100%;
  padding: 2.5%;
  height: 500px;
  .container {
    @include flex(flex, center);
    flex-direction: column;
    justify-content: space-evenly;
    .social-icons {
      a {
        margin: 0 0.8rem;
      }
    }
    .logo-container {
      .footer-logo {
        width: 128px;
      }
    }
  }
  h1,
  h2,
  h3 {
    margin: 2.5%;
  }
  p {
    @include flex(flex, center);
    align-items: center;
    margin: 2.5%;
  }
}
