//Loader
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: white;
  opacity: 100;
  visibility: visible;

  img {
    width: 250px;
  }
}
