//Navigation
nav {
  transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  width: 100%;
  position: fixed !important;
  box-shadow: 0px -12px 20px 7px #0000008a;
  //Mobile Field Switch
  .navbar-brand {
    align-items: center;
    .navbar-item {
      height: 100%;
    }
  }
  .navbar-menu {
    .navbar-item.has-text-light:hover {
      background: whitesmoke;
      // Bulma Override
      color: #333 !important;
    }
    .navbar-item.has-text-dark:hover {
      background: #333;
      // Bulma Override
      color: whitesmoke !important;
    }
  }
  .navbar-start {
    .navbar-menu is-active is-light {
      background-color: #333;
    }
    .navbar-menu .is-light {
      background-color: white;
    }
    .navbar-item {
      //safari compatability --snaps back to size after hover
      .buttons {
        height: 100%;
      }
      width: -webkit-max-content;
      a {
        span {
          padding-right: 5px;
        }
      }
    }
    a {
      font-weight: 555;
      padding: 5px;
      .typed-cursor {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0s, visibility 0s;
        -webkit-transition: opacity 0s, visibility 0s;
      }
      span {
        padding-left: 5px;
        position: relative;
        transition: opacity 0s, visibility 0s;
        -webkit-transition: opacity 0s, visibility 0s;
      }

      &:hover {
        .typed-cursor {
          opacity: 1;
          visibility: visible;
        }
        span {
          position: relative;
          opacity: 0.95;
          visibility: visible;
        }
      }
    }
  }
  .navbar-end {
    .navbar-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
