//parallax
.section-parallax {
  height: 100% !important;
  padding: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath id='c' d='M0 72l791-17c634 41 440 35 930-24 266-30 441 36 637 42 760-45 720 52 1070 5 369-63 438-27 681-6 319 38 591-128 881-53 115 38 211 75 347 83 461 36 897-153 1347-72 479 131 399 15 744 30 527 89 336-19 635-26 461 48 326 17 635-2 359 21 586 48 586 48l1 575s-310-30-426-36c-976-109-791 95-1172 13-82-11-367 9-450 13-1185 118-881-113-1289-54-1174 237-1366-115-2072 28-484 63-386-155-882-26-360 76-800 57-937 8-58-22-99-42-167-54-515-72-677 72-824 70s-159-82-364-82S0 599 0 599V72z'/%3E%3Cpattern id='p' width='40' height='40' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23171717' stroke-width='1'%3E%3Cg id='b'%3E%3Crect fill='%23070707' x='-9' y='-9' width='99' height='99'/%3E%3Cuse href='%23a' x='-40'/%3E%3Cuse href='%23a' x='-20'/%3E%3Cpath id='a' d='M-9 -9L99 99' fill='none'/%3E%3Cuse href='%23a' x='20'/%3E%3Cuse href='%23a' x='40'/%3E%3C/g%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='q' width='40' height='40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Cg stroke='%23171717' stroke-width='2'%3E%3Cuse href='%23b'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='r' width='40' height='40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Cg stroke='%23171717' stroke-width='3'%3E%3Cuse href='%23b'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='s' width='40' height='40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Cg stroke='%23171717' stroke-width='4'%3E%3Cuse href='%23b'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='t' width='40' height='40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Cg stroke='%23171717' stroke-width='5'%3E%3Cuse href='%23b'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='u' width='40' height='40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Cg stroke='%23171717' stroke-width='6'%3E%3Cuse href='%23b'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Cg transform='rotate(0 1000 750)'%3E%3Cg stroke='%23070707' stroke-width='6'%3E%3Cuse href='%23c' x='-1600' y='300' fill='url(%23p)'/%3E%3Cg transform='scale(-1 1)'%3E%3Cuse href='%23c' x='-8000' y='500' fill='url(%23q)' transform=''/%3E%3C/g%3E%3Cuse href='%23c' x='-2500' y='700' fill='url(%23r)' transform=''/%3E%3Cg transform='scale(-1 1)'%3E%3Cuse href='%23c' x='-4500' y='900' fill='url(%23s)' transform=''/%3E%3C/g%3E%3Cuse href='%23c' x='-4800' y='1100' fill='url(%23t)' transform=''/%3E%3Cg transform='scale(-1 1)'%3E%3Cuse href='%23c' x='-6600' y='1300' fill='url(%23u)' transform=''/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    box-shadow: inset -1px 6px 20px 20px #0000006b;
    .box {
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      .cube-wrapper {
        width: 100%;
      }
      .cube-wrap {
        margin-right: 200px;
        .cube-box {
          img {
            margin: 0;
          }
        }
      }
      img {
        margin-bottom: -20%;
        width: 50%;
      }
    }
    .select {
      width: 500px;
    }
  }
}
