// Wrapper for Projects Page
.app-container {
  .wrapper.projects {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    animation: none;
    background: none;

    .search {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1%;

      .control {
        width: 50%;
        display: flex;

        .icon {
          .icon-container {
            display: flex;
            justify-content: center;
            svg {
              width: 55%;
              padding: 5%;
            }
          }
        }

        button {
          margin-left: -50px;
        }
      }
    }

    .column {
      .card {
        width: 100%;

        .card-image {
          display: flex;

          img {
            width: 100%;
          }
        }

        .card-content {
          height: 100%;
          align-items: center;
          top: 0;
          display: flex;
          position: absolute;
          opacity: 0;
          font-weight: 600;

          .tag {
            margin: 1%;
            font-weight: 600;
          }

          @media (max-width: 768px) {
            height: 100%;
            align-items: center;
            display: flex;
            position: relative;
          }
        }

        //Card Hover
        &:hover {
          .card-content {
            .tag {
              cursor: pointer;
            }

            z-index: 1;
            opacity: 100;
          }

          .card-image {
            img {
              opacity: 100;
              z-index: 1;
            }
          }

          @media (max-width: 768px) {
            .card-content {
              opacity: 100;
            }
          }
        }

        //End Hover
      }

      //End Card
    }

    //wrapper.projects media queries
    @media (max-width: 1024px) {
      .column {
        margin: 1%;
        width: 48%;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .column {
        margin: 1%;
        width: 100%;

        .card {
          .card-content {
            opacity: 100;
          }
        }

        //don't hide anything in mobile
        &:hover {
          .card {
            .card-image {
              img {
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }
}
