// Bulma Styles
@import "bulma";
@import "../../node_modules/bulma-steps-component/bulma-steps.sass";
@import "../../node_modules/bulma-extensions/bulma-switch/src/sass/index.sass";
@import "../../node_modules/bulma-dashboard/src/bulma-dashboard.sass";
@import "../../node_modules/bulma-extensions/bulma-timeline/src/sass/index.sass";
//Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

//Sass Modules
@import "./parallax";
@import "./appContainer";
@import "./animations";
@import "./dashboard";
@import "./loader";
@import "./navigation";
@import "./progressBar";
@import "./projectsWrapper";
@import "./projectCard";
@import "./search";
@import "./skills";
@import "./steps";
@import "./timeline";
@import "./utils";
@import "./home";
@import "./footer";
@import "./mixins";
@import "./aboutWrapper";
@import "./svgs";

//Soft CSS Reset
h1,
h2,
h3,
h4 {
  margin-bottom: 10px;
}

body {
  margin: 0;
  text-align: center;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg {
  vertical-align: middle;
}
